

*{
  font-family: 'Noto Sans', sans-serif;
}

.h5_style{
  color: #fbae09;
}

.h1_style{
  text-align: center;
}

.p_style{
  width: 80%;
  text-align: center;
  margin: auto;
}
.white_color{
  color: white;
}

